@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Secular+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root{
    --main-color: #E06B43;
    --secondary-yellow: #FFAC4A;
    --secondary-light-yellow: #FFE9C9;
    --info: #8A8A8A;
    --success: #7EEA91;
    --warning: #EEB056;
    --error: #FC4E4E;
}

body{
    background-color: white;
    padding: 0%;
    margin: 0%;
    font-family: 'Arvo', serif;
}

h1{
    font-family: 'Arvo', serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 0%;
}

h3{
    font-family: 'Secular One', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0%;
}

h5{
    font-family: 'Secular One', sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
    margin: 0%;
}


/*NavBar*/
.Principal-Startup{
    display: flex;
}
.Principal-Startup img{
    width: 45px;
    height: auto;
    margin: 0px 10px 0px 10px;
}
.Principal-Startup a{
    color: #E06B43;
    font-family: 'Arvo', serif;
    font-weight: bold;
    padding-top: 10px;
}
.nav-item{
    font-family: 'Arvo', serif;
    color: #8A8A8A;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
}
.nav-item:hover a{
    color: #E06B43;
}

.nav-item .ac{
    text-decoration: underline;
    color: #E06B43;
}

.nav-buttons button{
    margin-left: 7px;
    font-family: 'Arvo', serif;
}
.Nav-Sesion{
    color: #E06B43;
    padding: 5px 10px;
    border-color: #E06B43;
    border-radius: 10px;
    border-width: 3px;
    background-color: transparent;
    transition: 0.3s all ease;
}
.Nav-Sesion:hover{
    transform: translateY(-10px);
    color: white;
    background-color: #E06B43 ;
}

.Nav-Registrate{
    padding: 5px 10px;
    color:white;
    border-color: #E06B43;
    border-radius: 10px;
    border-width: 3px;
    background-color:#E06B43;
    transition: 0.3s all ease;
}
.Nav-Registrate:hover{
    transform: translateY(-10px);
    color: #E06B43;
    background-color: transparent ;
}

.nav-right{
    justify-content: flex-end;
}



/*---MAIN---*/

.main-container{
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, var(--main-color), var(--secondary-yellow));
    padding: 30px;
    position: relative;
}

.main-text{
    display: flex;
    align-items: right;
    color: white;
    flex-direction: column;
}

.main-button{
    background: transparent;
    border: 2px solid white; 
    color: white; 
    font-family: 'Arvo', serif;
    font-weight: bold; 
    padding: 10px 20px; 
    font-size: 12px; 
    text-align: center; 
    cursor: pointer;
    outline: none;
    width: 200px;
    height: auto;
    background-image: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease-in-out;
}
.main-button:hover {
    background-position: -100% 0;
    color: var(--main-color);
}

#whatsapp-button{
    width: auto;
}

.whatsapp-container{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; 
    flex-direction: column;
}

.whatsapp-logo{
    width: 60px;
    height: auto;
    align-self: center;
    margin: 10px;

}

/*---ABOUT US / CONOCENOS---*/

.aboutus-section{
    background-color: white;
    width: auto;
    height: auto;
    padding: 30px;
    
}

#title-aboutus-section{
    text-align: right;
}
#title-aboutus-section .AboutUs-Title{
    color:#E06B43;
}

#aboutus-text{
    text-align: justify;
    padding-right: 15px;
}

.aboutus-card{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: auto;
}

#aboutus-card-title{
    color: var(--main-color)
}

.aboutus-card-image{
    width: auto;
    height: 300px;
    padding-left: 10px;
}
.Mision-Vision-Card{
    display: flex;
    padding-top: 20px;
}
.Mision-Card, .Vision-Card{
    padding: 10px 20px;
    text-align: center;
}
.Mision-Card img, .Vision-Card img {
    height: 150px;
    width: auto;
    padding-bottom: 25px;
}
.Vision-Contend h5, .Mision-Contend h5{
    font-size: 16px;
    color: #FC4E4E;
}

/* ---Nuestros Servicios--- */
#Contenedor-Servicios{
    padding: 40px;
    background-color: #F0EAE1;
}

.Servicios-Tittle{
    color: #E06B43;
    padding-bottom: 20px;
}
.Servicios-Ofrecemos h5{
    color: #986565;
}
.Servicios-Ofrecemos p{
    text-align: justify;
}
.Func-Tittle{
    text-align: center;
    color:#E06B43;
    padding-bottom: 40px;
}
.Func-Tittle h4{
    font-family: 'Secular One', sans-serif;
    font-size: 28px;
}
.Func-cards{
    display: flex;
    justify-content:space-between;
}
.Func-Recetas, .Func-Planes, .Func-Pedidos{
    display: block;
    text-align: center;
    padding: 22px 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Secular One', sans-serif;
}
.Func-Recetas img, .Func-Planes img, .Func-Pedidos img{
    height: 250px;
    width: auto;
    padding-bottom: 20px;
}
.MoreDetails{
    color: #E06B43;
    margin-top:5px ;
    padding: 5px 15px;
    border-color: #E06B43;
    border-radius: 10px;
    border-width: 3px;
    background-color: transparent;
    transition: 0.3s all ease;
    font-size: 14px;
}
.MoreDetails:hover{
    transform: translateY(-5px);
    color: white;
    background-color: #E06B43 ;
}
/* ---Contactanos--- */
#Contenedor-Contactanos{
    background-color: #FFAC4A;
    padding: 40px 20px;
}
.Contactanos{
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
}
.Contac{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.container-Contac{
    display: flex;
    justify-content: space-between;
}
.Nombre-Apellido, .Email-Telefono{
    display: flex;
    justify-content: space-between;
}
.Contac-Name, .Contac-Apellido, .Contac-Email, .Contac-Telefono{
    text-align: center;
    padding: 10px 60px;
}
.Contact-Message{
    text-align: center;
    padding-top: 20px;
}

.Contact-Message a{
    text-decoration: none;
}
.Contac-Name input, .Contac-Apellido input, .Contac-Email input, .Contac-Telefono input{
    border-radius: 5px;
    width: 300px;
    border-color: #FFAC4A;
    color: #FFAC4A;
    padding: 0px 10px;
}

.calificacion{
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    padding: 30px 5px;
    
    background-color:#FC4E4E;
    color:#F0F8F8;

    border-radius: 230px;
    transition: 0.5s;
    text-decoration: none;
    font-size: 20px;
    margin-top: -10px;
}
.Contact-Message input{
    border-radius: 5px;
    width: 600px;
    height: 100px;
    border-color: #E06B43;
    color: #E06B43;
    padding: 0px 10px;
    text-align: left;
    direction: ltr;
}

.Boton-Enviar{
    padding: 5px 60px;
    margin-top: 20px;
    color:white;
    border-color: #FFAC4A;
    border-radius: 10px;
    border-width: 3px;
    background-color:#FFAC4A;
    transition: 0.3s all ease;
}
.Boton-Enviar:hover{
    transform: translateY(-10px);
    color: #FFAC4A;
    background-color: transparent ;
}



/* ---Descarganos--- */

#Contenedor-Descarganos{
    background-color: #ffffff;
}
.Descarganos{
    font-family: 'Arvo', serif;
    color:#E06B43;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}
.Descarga {
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
}
.MetodosDescarga a{
    display: block;
}
.CodigoQR{
    height: 200px;
}
.AppStore, .GooglePlay, .AppGallery{
    height: 60px;
    margin-top: 10px;
    transition: 0.3s all ease;
}
.AppStore:hover, .GooglePlay:hover, .AppGallery:hover{
    transform: translateY(-10px);
}

.UC{
    height: 420px;
    margin: 0px 20px;
}
.Logos{
    display: none;
}


/*---FOOTER---*/

.footer-container{
    display: flex;
    flex-direction: row;
    background: var(--main-color);
    padding: 20px;
    width: auto;
    height: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    text-align: center;
    padding: 0px 10px;
}

.footer-social-media{
    display: inline-block;
    justify-content: center; 
    align-items: center; 
    margin: 0 10px;
    font-size: 50px;
}


.footer-social-media a{
    color: white;
    text-decoration: none;
    transition: 0.3s all ease;
}

.footer-social-media a:hover{
    color: var(--secondary-yellow);
}


/*--- RESPONSIVE TABLET---*/

@media (max-width: 768px) {
    .whatsapp-container{
        display: none;
    }
    .main-container{
        flex-direction: column;
    }
    .main-text{
        flex-direction: block;
        text-align: center;
    }
    .main-button{
        width: auto;
        height: auto;
        margin: 0px 40px;
    }


    .aboutus-card-image{
        padding-top: 40px;
    }


    .Func-Tittle{
        text-align: center;
        color:#E06B43;
        padding-top: 20px;
    }
    .Func-cards{
        display: block;
    }
    .Func-Recetas, .Func-Planes, .Func-Pedidos{
        display: flex;
        margin-bottom: 40px;
        justify-content: space-around;
    }
    .Func-Re-Text, .Func-Pl-Text, .Func-Pe-Text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Func-Planes {
        display: flex;
    }
    .Func-Planes h5 {
        order: 1; 
    }
    .Func-Planes .MoreDetails {
        order: 2; 
    }
    .Func-Planes img {
        order: 3; 
    }
      
    
    .container-Contac{
        display: block;
    }
    .calificacion{
        display: none;
    }
    .Nombre-Apellido, .Email-Telefono{
        display: block;
    }
    .Contac-Name , .Contac-Apellido , .Contac-Email , .Contac-Telefono {
        padding: 10px 20px;
    }
    .Contact-Message input{
        width: 450px;
    }
}


/*--- RESPONSIVE CELULAR---*/

@media (max-width: 428px) {
    .main-picture{
        height: 300px;
        width: auto;
    }
    

    .aboutus-card{
        display: block;
        text-align: center;
    }
    #aboutus-card-title{
        text-align: left;
    }
    .aboutus-card-image{
        padding-left: 0px;
        padding-top: 10px;
        height: 200px;
        width: auto;
    }
    #title-aboutus-section .AboutUs-Title{
        display: block;
    }


    .Mision-Vision-Card{
        display: block;
    }


    .Descarga{
        display: none;
    }
    .Logos{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .LogosAppPng{
        height: 60px;
        margin: 10px 20px;
        transition: 0.3s all ease;
    }
    .LogosAppPng:hover{
        transform: translateY(-10px);
    }
    .Descarganos{
        font-family: 'Arvo', serif;
        color:#E06B43;
        font-weight: bold;
        padding-bottom: 5px;
        margin-top: 20px;
    }


    .Servicios-Tittle{
        text-align: center;
        
    }
    .Separador-ServTittle{
        display: block;
    }


    .Func-Recetas, .Func-Planes, .Func-Pedidos{
        display: flex;
        padding: 20px 15px;
        justify-content: space-around;
    }
    .Func-Recetas img, .Func-Planes img, .Func-Pedidos img{
        height: 100px;
        width: auto;
        padding: 0px 10px 0px 10px;
    }
    .Func-Re-Text h5, .Func-Pl-Text h5, .Func-Pe-Text h5{
        font-size: 14px;
    }
    .MoreDetails{
        color: #E06B43;
        margin-top:5px ;
        padding: 2px 5px;
        border-color: #E06B43;
        border-radius: 10px;
        border-width: 3px;
        background-color: transparent;
        transition: 0.3s all ease;
        font-size: 12px;
    }



    .Contac-Name , .Contac-Apellido , .Contac-Email , .Contac-Telefono {
        padding: 5px 0px;
    }
    .Contac-Name input, .Contac-Apellido input, .Contac-Email input, .Contac-Telefono input{
        width: 200px;
    }
    .Contact-Message input{
        width: 200px;
    }


    .app-logo{
        height: 100px;
        width: auto;
    }
}